<html
    lang='en'
    xmlns='http://www.w3.org/1999/xhtml'
    xlmns:o='urn: schemas-microsoft-com:office'
>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='x-apple-disable-message-reformatting' />
        <title>SPTel Template</title>
        <style type='text/css'>
            @media screen and (max-width: 680px) { .mobile-table { width: 100%
            !important; } .mobile-center { text-align: center !important; }
            .img-responsive { width: 100% !important; height: auto !important; }
            .no-padding { padding: 0 !important; } .btn-padding { padding: 10px
            5px !important; } }
        </style>
    </head>
    <body
        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; font-family: open Sans, sans-serif; height: 100%; margin: 0; padding: 0; width: 100%;'
    >
        <table
            role='presentation'
            style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-spacing: 0; background: #ffffff; border-collapse: collapse;'
            width='100%'
        >
            <tr>
                <td
                    align='center'
                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;'
                >
                    <table
                        role='presentation'
                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 600px; align-items: flex-start; border-collapse: collapse;'
                        class='mobile-table'
                        width='600'
                    >
                        <tr>
                            <td
                                style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;'
                            >
                            </td></tr><tr>
                            <td
                                align='left'
                                valign='top'
                                style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 11px; font-weight: 400; line-height: 15px;'
                                class='mobile-center'
                            >
                                <img
                                    src='https://img07.en25.com/EloquaImages/clients/SPTELECOMMUNICATIONSPTELTD/%7B3227e6a5-09b7-4464-89a1-fa62a0942a3a%7D_sptel-update.png'
                                    width='149'
                                    height='80'
                                    style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;'
                                />
                            </td>
                        </tr>
                    </table></td>
            </tr>
            <tr>
                <td
                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;'
                >
                    <table
                        role='presentation'
                        align='center'
                        width='100%'
                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 600px; border-collapse: collapse;'
                        class='mobile-table'
                    >
                        <tbody>
                            <tr>
                                <td
                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px 0px 0px 0px; font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-align: left;'
                                    align='left'
                                >
                                    <p>{{content}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 30px 0 0 0;'
                                ></td>
                            </tr>
                            <tr>
                                <td
                                    align='center'
                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;'
                                >
                                    <table
                                        align='center'
                                        width='100%'
                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 600px; border-collapse: collapse;'
                                        class='mobile-table'
                                        background='https://img07.en25.com/EloquaImages/clients/SPTELECOMMUNICATIONSPTELTD/%7Bc61023a8-a517-4cbc-b1d8-f7153461b163%7D_footer-gradient.png'
                                    >
                                        <tbody>
                                            <tr>
                                                <td
                                                    align='center'
                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 10px 5px 10px; line-height: 14px;'
                                                >
                                                    <table
                                                        align='center'
                                                        width='100%'
                                                        class='mobile-table'
                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;'
                                                                >
                                                                    <table
                                                                        align='left'
                                                                        class='mobile-table'
                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    class='mobile-center'
                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: Helvetica, Arial,
                                                    sans-serif; font-size: 16px; line-height: 25px; font-weight: 700; color: #ffffff; text-align: left;'
                                                                                    align='left'
                                                                                >
                                                                                    <em
                                                                                    >An
                                                                                        ST
                                                                                        Engineering
                                                                                        and
                                                                                        SP
                                                                                        Group
                                                                                        JV</em>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table
                                                                        align='right'
                                                                        class='mobile-table'
                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    align='right'
                                                                                    class='mobile-center'
                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;'
                                                                                >
                                                                                    <a
                                                                                        href='https://www.facebook.com/SPTelOfficial?elqTrackId=efe2a798b29940d3a690d0dacd3bac6a'
                                                                                        target='_blank'
                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; text-decoration: none;'
                                                                                    >
                                                                                        <img
                                                                                            src='https://sptel.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_1FeZrfjjCFLs8At'
                                                                                            width='25'
                                                                                            height='25'
                                                                                            style='-ms-interpolation-mode: bicubic; border: 0; height: auto; outline: none; text-decoration: none; width: 100%; max-width: 23px; line-height: 14px; margin-right: 5px;'
                                                                                        />
                                                                                    </a>
                                                                                    <a
                                                                                        href='https://www.linkedin.com/company/sp-telecom/?elqTrackId=772014a318354874824a23174f772a87'
                                                                                        target='_blank'
                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; text-decoration: none;'
                                                                                    >
                                                                                        <img
                                                                                            alt=''
                                                                                            border='0'
                                                                                            src='https://sptel.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_bjD5dEA0gkxFjhP'
                                                                                            width='25'
                                                                                            height='25'
                                                                                            style='-ms-interpolation-mode: bicubic; border: 0; height: auto; outline: none; text-decoration: none; margin: 0; line-height: 14px; font-size: 12px;'
                                                                                        />
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table
                                                                        width='100%'
                                                                        class='mobile-table'
                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    align='right'
                                                                                    valign='top'
                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0px 10px 0px; font-family: Helvetica, Arial,
                                                    sans-serif; font-size: 10px; font-weight: 400; line-height: 14px; color: #ffffff; text-align: right;'
                                                                                    class='mobile-center'
                                                                                >
                                                                                    &#169;SPTel.
                                                                                    All
                                                                                    Rights
                                                                                    Reserved
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table
                                                                        width='100%'
                                                                        class='mobile-table'
                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;'
                                                                                >
                                                                                    <table
                                                                                        align='right'
                                                                                        class='mobile-table'
                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                                    >
                                                                                        <tbody
                                                                                        >
                                                                                            <tr
                                                                                            >
                                                                                                <td
                                                                                                    align='right'
                                                                                                    class='mobile-center'
                                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align: right; font-family: Helvetica,
                                                            Arial, sans-serif; font-size: 11px; line-height: 14px; font-weight: 400; color: #ffffff;'
                                                                                                >
                                                                                                    <a
                                                                                                        href='mailto:enquiry@sptel.com'
                                                                                                        target='_blank'
                                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; text-decoration: none; color: #ffffff;'
                                                                                                    ><img
                                                                                                            alt=''
                                                                                                            border='0'
                                                                                                            src='https://sptel.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_55RoKBwud8HJwk5'
                                                                                                            width='10'
                                                                                                            height='10'
                                                                                                            style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;'
                                                                                                        />
                                                                                                        enquiry@sptel.com</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table
                                                                                        align='right'
                                                                                        class='mobile-table'
                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                                    >
                                                                                        <tbody
                                                                                        >
                                                                                            <tr
                                                                                            >
                                                                                                <td
                                                                                                    align='right'
                                                                                                    class='mobile-center'
                                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align: right; font-family: Helvetica,
                                                            Arial, sans-serif; font-size: 11px; font-weight: 400; color: #ffffff;'
                                                                                                >
                                                                                                    <a
                                                                                                        href='tel:+6566028228'
                                                                                                        target='_blank'
                                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; text-decoration: none; color: #ffffff;'
                                                                                                    ><img
                                                                                                            alt=''
                                                                                                            src='https://sptel.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cAAOxAj4rC4v3r7'
                                                                                                            width='10'
                                                                                                            height='10'
                                                                                                            style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;'
                                                                                                        />
                                                                                                        +65
                                                                                                        6982
                                                                                                        6888</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table
                                                                                        align='right'
                                                                                        class='mobile-table'
                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;'
                                                                                    >
                                                                                        <tbody
                                                                                        >
                                                                                            <tr
                                                                                            >
                                                                                                <td
                                                                                                    align='right'
                                                                                                    class='mobile-center'
                                                                                                    style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align: right; font-family: Helvetica,
                                                            Arial, sans-serif; font-size: 11px; font-weight: 400; color: #ffffff;'
                                                                                                >
                                                                                                    <a
                                                                                                        href='http://www.sptel.com'
                                                                                                        target='_blank'
                                                                                                        style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; text-decoration: none; color: #ffffff;'
                                                                                                    ><img
                                                                                                            alt=''
                                                                                                            border='0'
                                                                                                            src='https://sptel.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_e3fiyHhxON9Ykct'
                                                                                                            width='10'
                                                                                                            height='10'
                                                                                                            style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;'
                                                                                                        />
                                                                                                        sptel.com</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </body>
</html>